<div>
    <h1>Registrierung</h1>


    <div>
        errors: {{myForm.name.$error | json}}

    </div>
    <form name="myForm">
        <div class="row form-group">
            <div class="col-md-12">
                <label for="name" class="control-label">Name</label>
                <input required class="form-control" ng-model="user.name" name="name" id="name" ng-minlength="5"
                       ng-maxlength="10">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="alter" class="control-label">Alter</label>
                <input name="alter" id="alter" ng-model="user.alter">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="email" class="control-label">email</label>
                <input name="email" type="email" required id="email">
            </div>

            <div ng-messages="myForm.email.$error">
                <div ng-message="required">Email eingeben! </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="vorname" class="control-label">Name</label>
                <input name="vorname" id="vorname" pattern="[a-z]*">
            </div>
        </div>

        <button class="btn btn-info" ng-disabled="myForm.$invalid">Senden</button>
</div>


</form>

</div>
